1/data-class.csv
1/data-reg.csv
1/mu-dom1-glm.pdf
1/nikola-stanojevic-mu-dz1.zip
2/ansamples.ipynb
2/nesto.ipynb
2/pocetak.ipynb
2/svm_resenje.ipynb
2/data_svm.csv
2/data_trees.csv
2/mu-dom2-svm-ans.pdf

